<HTML>
    <HEAD>
        <link rel="stylesheet" href="./css/styles.css">
    </HEAD>
    <BODY>
        <div class = 'main-content'>
          {{>header}}
          <h1>From About Page</h1>
          <img class='portrait' src='./img/me.jfif'>
        </div>
        {{>footer}}
    </BODY>
</HTML>