<HTML>
    <HEAD>
        <link rel="stylesheet" href="./css/styles.css">
    </HEAD>
    <BODY>
        <div class = 'main-content'>
          {{>header}}
          <p>This site is created by James Xia, and it uses data from mapbox.com aand darksky.net!!</p>
          <img class='portrait' src='./img/me.jfif'>
        </div>
        {{>footer}}
    </BODY>
</HTML>