<HTML>
    <HEAD>
       <link rel="stylesheet" href="./css/styles.css">
    </HEAD>
    <BODY>
        <div class = 'main-content'>
           {{>header}}
           <h1>{{content}}</h1>
        </div>
        {{>footer}}
    </BODY>
</HTML>